*{margin: 0px; margin-top: 0px ; background-color: rgba(247, 161, 200 , 0.2) ;font-family: 'Microsoft YaHei';}

.uptitle{
    margin-top: 0px;
    margin-left : 0px ;
    background-color: rgb(126, 218, 247);
    height : 55px;
  }
.upchara{
    display:inline-block;
    font-size: 22px;
    background-color: rgb(126, 218, 247);
    position: relative ;
    margin-top: 8px ;
    color:rgba(241, 241, 242, 0.1)) ;
    margin-left: 20px;
    letter-spacing : 5px;
    font-family : 'Microsoft YaHei'ï¼›
  }
.upuList{
  background-color: rgb(126, 218, 247)  ;
  position: relative;
  margin-top: 4px ;
  float: right;
   margin-right: 35px
 }
.upuList  a{
   background-color: rgb(126, 218, 247) ;
  color: rgb(255, 255, 255) ;
  margin-right: 20px  ;
  font-size: 17px ;
  text-decoration: none ;
  line-height: 40px
}
.article1 , .imgpart , .article2 {
  padding: 14px ;
  margin: 20px ;
  background-color: white;
  border-right:4px solid pink;
  border-bottom: 4px solid pink;
  line-height: 30px;
  font-size: 17px
}

.article1 >h2{
  background-color: white ;
  line-height: 35px ;
  margin-top: 13px
}

.article1 >h3{
  background-color: white ;
  line-height: 35px ;
  color: rgb(221, 206, 216) ;
  margin-top: 7px
}

.article1 p{
  background-color: white ;
  text-indent: 2em;
 }

.article1 a {
  background-color: white
}

.article1 span {
  background-color: white;
  font-weight: bold
}

.article1 >ol,li {
  background-color: white
}

.img1 {
  margin-top:  15px ;
  margin-bottom: 15px
}

.article1 grey{
  background-color: white;
  color: rgb(221, 206, 216);
}

.episode {
  border:3px solid yellow;
  margin: 0px;
  width:226px;
  margin-top:20px;
  height: 140px
}

.episode_out {
  margin: 10px ;
  float: left ;
  background-color: white;
  text-align: center
}

.episode_out > a { text-decoration : none ;  }

.episode > img{height: 140px}

.clear {clear: both}

.article2 > .indent{
  margin-left: 10px;
}

.article1  table {
  margin-top: 8px;
  background-color: white;
  width: 94%;
  border-collapse: collapse
}

.article1 > table  tr ,td , th {
  height: 20px;
  border:2px solid rgb(226, 218, 247);
  background-color: white;
  margin: 0px ;
  padding: 0px
}

.article1 > table  th {
  background-color: black  ;
  color: white
}

.article1 > table #fillgrey {
  background-color: grey
}

.article2 > h3 {
  border-left: solid 2px rgb(226, 218, 247) ;
  background-color: white;
  padding: 4px;
  padding-left: 10px;
}

.article2 h3 , p , label , input , div , select , form{
  position: relative;
  display:block;
  background: white;
  margin-top: 6px
}

#grey{
  color: grey ;
  font-size: 13px
}

.article2 .wide {
  width: 400px;
}

.article2 #style1{
  display: inline-block;
}

#down{
  background-color: rgba(247, 161, 200 , 0.2);
  height: 55px;
}

#down p{
  padding-top: 10px;
  background-color: rgba(247, 161, 200 , 0.01);
  text-align: center;
  font-size: 20px;
}
