
body{
  font-family: "微软雅黑";
  font-size :14px;
  margin:0;
  width: 100%;
  min-width: 1078px;
}
h1,h2,h3,h4,h5,h6,ul{
  padding: 0;
  text-decoration: none;
  line-height: 1em;
  color:#fff;
  font-weight: normal;
  margin:0;
}
a{
  padding: 0;
  text-decoration: none;
  line-height: 1em;
  font-weight: normal;
  margin:0;
  color:inherit;
}
input:focus,textarea:focus{
  outline:0;
}
textarea{
  resize:none;
}
input{
  font-family:"微软雅黑";
}
nav{
  float:right;
}
nav li{
  display: inline-block;
}

header img,header h1{
  display: inline-block;
  vertical-align: middle;
  margin: 12px 0;
}

header img{
  margin-left:59px;
}
header h1{
  margin-left: 10px;
  margin-top:14px;
  font-family: "黑体";
  font-size:21px;
  color:#343434;
  font-weight: normal;
}
header{
  width:100%;
  height: 57px;
  min-width: 785px;
  overflow: visible;
  position: fixed;
  top:0;
  right:0;
  z-index: 10;
  background-color: #fff;
}
header ul{
  padding: 0;
  margin:0 30px 0 0;
}
header li{
  width:60px;
  height: 57px;
  margin:0 18px;
  color:#787b83;
  text-align: center;
  line-height: 50px;
}
.nav-unfocus:hover{
  color:#e74f4d;
  height:53px;
  border-bottom: 4px solid #fdd;

}
.nav-focus{
  width:65px;
  height:53px;
  border-bottom: 4px solid #e74f4d;
  margin: 0 10px;
  color:#e74f4d;
}
#login-logo{
  color:#e74f4d;
}
#login-logo span{
  display: inline-block;
  width:14px;
  height:17px;
  background-image: url(login-logo.png);
  background-repeat: no-repeat;
  margin-right:5px;
  vertical-align: middle;
}
.b{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position:relative;
  margin-top:57px;
  height:692px;
}
.b-img{
  position: absolute;
  height:100%;
  width: 100%;
  left:0;
  top:0;
  z-index: -2;
  background-image: url(big.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.b-cover{
  position: absolute;
  z-index: -1;
  top:0;
  left: 0;
  width:100%;
  height:100%;
  background-color: #000;
  opacity: 0.2;
}
.b *{
  color:#fff;
}
.b h1{
  margin-left: 126px;
  position: relative;
  left:-4px;
  font-size: 60px;
  font-weight: normal;
}
.b h3{
  margin-top:20px;
  margin-left: 126px;
  font-size: 21px;
  line-height: normal;
  font-weight: normal;
}
.b-start{
  margin-left: 126px;
  margin-top: 68px;
  width:334px;
  height:66px;
  line-height: 66px;
  text-align: center;
  background-color: #e64e4c;
  font-size: 30px;
  letter-spacing: 4px;
}
.b-start:hover{
  background-color: #e45756;
}
.b-start:active{
  background-color: #a43534;
}
.c-holder{
  height:249px;
  width:100%;
}
.c-list{
  display: inline-block;
  width:25%;
}
.c-logo{
  height:132px;
  background-repeat: no-repeat;
  background-position: center;
}
.c-logo-1{
  background-image: url(c-1.png);
}
.c-logo-2{
  background-image: url(c-2.png);
}
.c-logo-3{
  background-image: url(c-3.png);
}
.c-logo-4{
  background-image: url(c-4.png);
}
.c-text{
  height:56px;
  border-right: 1px solid #767777;
  color:#767777;
  font-family: "黑体";
  font-size:14px;
  line-height: 18px;
  text-align: center;
}
#c-text-last{
  border-right-width:0;
}
.d-holder{
  display: table;
  width:100%;
  height:361px;
  background-color: #ececec;
}
.d-logo{
  width:94px;
  height: 92px;
  margin:90px auto 45px;
  background-image: url(logo-big.png);
  background-position: center;
  background-repeat: no-repeat;
}
.d-text{
  text-align: center;
  font-size: 53.59px;
  font-family: "黑体";
  color:#323333;
  opacity: 0.5;
}
.e-holder{
  position: relative;
  height:287px;
  width:100%;
  text-align: center;
  padding-top:53px;
}
.e-bg{
  position: absolute;
  top:0;
  width:100%;
  height:100%;
  z-index: -2;
  background-image: url(e-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.e-cover{
  position: absolute;
  top:0;
  width:100%;
  height:100%;
  z-index: -1;
  background-color: #aa3432;
  opacity: 0.2;
}
.e-holder h3{
  font-size: 21px;
}
.e-holder input[type="button"]{
  align-items: center;
  padding:0 0 0 20px;
  border:0;
  width:217px;
  height: 36px;
  background-color: #bf4f49;
  font-size: 14px;
  color: #fff;
  letter-spacing: 20px;
  cursor: pointer;
}
.e-holder input[type="button"]:hover{
  background-color: #bd5953;
}
.e-holder input[type="button"]:active{
  background-color: #a33c35;
}
.e-holder input:focus{
  outline: 0;
}
.little-bar{
  display: block;
  width:30px;
  height:2px;
  margin:10px auto;
  background-color: #fff;
}

.e-text{
  margin-top:19px;
  margin-bottom: 52px;
  color:#fff;
}
.sel-holder{
  display: inline-block;
  vertical-align: top;

}
.sel-holder ul{
    list-style: none;
}
.sel-holder ul:hover{
  display: block;
}

.sel-holder input[type="radio"]{
  display:none;
}
.sel{
  position: relative;
  width:214px;
  height: 18px;
  padding:  10px 8px 8px 16px;
  font-size: 12px;
  color:#a8aaaa;
  background-color: #fff;
  text-align: left;
  cursor: pointer;
}
.sel:focus{
  outline:#be4e48 solid 2px ;
}
.sel span.imga{
  display: block;
  position: absolute;
  right:8px;
  top:8px;
  width:16px;
  height:18px;
  padding-left: 3px;
  background-color: #be4e48;
}
.sel span img{
  margin:0;
}
#e-p-beijing:checked~.sel>#sel-p:after{
  content: "北京市";
  color:#323333;
}
#e-p-none:checked~.sel>#sel-p:after{
  content: "省份";
}
#e-p-tianjin:checked~.sel>#sel-p:after{
  content: "天津市";
  color:#323333;
}
#e-p-hebei:checked~.sel>#sel-p:after{
  content: "河北省";
  color:#323333;
}
#e-p-shanxi:checked~.sel>#sel-p:after{
  content: "陕西省";
  color:#323333;
}
#e-p-neimeng:checked~.sel>#sel-p:after{
  content: "内蒙古自治区";
  color:#323333;
}
#e-p-liaoning:checked~.sel>#sel-p:after{
  content: "辽宁省";
  color:#323333;
}
#e-c-china:checked~.sel>#sel-c:after{
  content: "中国";
  color:#323333;
}
#e-c-none:checked~.sel>#sel-c:after{
  content: "中国";
}
#e-c-others:checked~.sel>#sel-c:after{
  content: "其他国家";
  color:#323333;
}
#e-ci-capital:checked~.sel>#sel-ci:after{
  content: "省会";
  color:#323333;
}
#e-ci-none:checked~.sel>#sel-ci:after{
  content: "城市";
}
#e-ci-others:checked~.sel>#sel-ci:after{
  content: "其他";
  color:#323333;
}

.sel-holder ul{
  display: none;
  background-color: #e3e3e4;
  width: 238px;
  border: 2px solid #be4e48;
  margin-left: -2px;
  margin-bottom: -4000px
}
.sel:focus+ul{
  display: block;
  z-index: 10;
}
.sel-holder li{
  height: 27px;
  text-align: left;
  font-size: 12px;
  color:#323333;
  cursor: pointer;
  opacity: 0.7;
}
.sel-holder li span{
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 27px;
}
.sel-holder li:hover{
  background-color:#be4e48;
  color: #fff;
  opacity: 1;
}
.sel-holder li:hover span{
  background-image: url(e-hook.png);
  background-repeat: no-repeat;
  background-position: center;
}
.sel-flex{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items:flex-start;
  width: 88%;
  margin:0 auto;
}
.f-holder{
  display:flex;
  justify-content: space-around;
  height:390px;
  padding: 100px 132px 115px;
  background-color: #f7f7f7;
}
.f-item{
  display:table;
  margin:0 18px;
  width:220px;
  text-align: center;
}
.f-img{
  position: relative;
  width:220px;
  height:335px;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #dadada;
  background-color: #fff;
}
.f-2{
  position: relative;
  width:220px;
  height:334px;
  border: 1px solid #dadada;
  background-color: #fff;
}
.f-i{
  position: absolute;
  left:9px;
  top:11px;
}
.f-item h5{
  font-size: 14px;
  color:#000;
  margin-top:12px;
}
.f-item h6{
  font-size: 12px;
  color:#323333;
  opacity: 0.7;
  margin-top:12px;
}
#revert h5{
  overflow: hidden;
  white-space: nowrap;
  width: 222px;
  font-size: 20px;
  letter-spacing: 36px;
  text-indent: 18px;
  margin:3px 0 0 0;
  text-align: center;
}
#revert h6{
  margin:8px 0;
}
.g-holder{
  height:1086px;
  width:100%;
}
.g-holder>div{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  height:543px;
}
.g-33{
  width:33%;
}
.g-34{
  width:34%;
}
.g-1{
  width:66%;
  position: relative;
  background-image: url(g-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.g-1 h2{
font-size:49.47px;
}
.g-1 h1{
  font-size: 157.79px;
  line-height: 140px;
  margin-bottom:5px;
}
.g-1 h5{
  font-size: 21.91px;
  margin-top:20px;
}
.g-2 img{
  margin-bottom: 10px;
}
.g-2 p{
  font-family: "宋体";
  font-size:12px;
  color:#aaaaaa;
  line-height: 30px;
}
.g-2-button{
  width:106px;
  height: 33px;
  margin-top: 40px;
  font-size: 12px;
  color:#e25c60;
  line-height: 33px;
  text-align: center;
  border:1px solid #e25c60;
  background-color: #fff;
  transition: background-color,color 0.2s linear;
}
.g-2-button:hover{
    color:#fff;
    background-color: #e25c60;
}
.g-c{
  display: inline-block;
  width:10px;
  height:10px;
  border-radius: 6px;
  border:1px solid #919192;
  cursor: pointer;
  margin:0 6px;
}
.g-2-c{
  margin-top: 25px;
  margin-bottom: -55px;
}
.g-2-c input:checked+label>div{
  background-color: #919192;
}

.left-arrow{
  position:absolute;
  top:256px;
  right:0px;
  border-style: solid;
  border-width:15px 25px;
  border-right-color: #fff;
  border-top-color:transparent;
  border-left-color:transparent;
  border-bottom-color:transparent;
}
.g-holder input{
  display: none;
}
.g-3{
  background-color: #E64E4C;
}
.g-3 *,.g-4 *{
  font-size:21px;
  line-height: 30px;
  text-align: center;
  font-family: "黑体";
    color:#323333;
}
.g-3 *{
  color:#fff;
}
.g-3-bar{
  margin:18px 0 25px 0;
}
.g-4-bar{
  background-color: #a9a9a9;
  margin:18px 0 25px 0;
}
.g-3-more,.g-4-more{
  line-height: 40px !important;
  width:167px;
  height: 41px;
}
.g-3-more{
  border:1px solid #fff;
  transition: color 0.3s linear;
  transition: background-color 0.3s linear;
}
.g-3-more:hover{
  background-color: #fff;
  color:#e64e4c;
}
.g-4-more{
  color:#e64e4c;
  border:1px solid #e64e4c;
  transition: color 0.3s linear;
  transition: background-color 0.3s linear;
}
.g-4-more:hover{
  background-color: #e64e4c;
  color:#fff;
}

.g-5{
  position: relative;
  background-image: url(g-3.jpg);
  background-position: center;
  background-size: cover;
  z-index: -2;
}
.g-5-cover{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: #000;
  opacity: 0.4;
}
.right-arrow{
  position:absolute;
  top:256px;
  left:0px;
  border-style: solid;
  border-width:15px 25px;
  border-left-color: #fff;
  border-top-color:transparent;
  border-right-color:transparent;
  border-bottom-color:transparent;
}
.h-holder{
  height:82px;
  width:100%;
  padding:118px 0 100px 0;
  text-align: center;
}
.h-holder *{
  margin-left:auto;
  margin-right:auto;
}
.h-holder h2{
  font-family:"黑体";
  font-size: 21px;
  color:#323333;
}
.h-holder p{
  width:33%;
  font-size: 12px;
  color: #aaa;
}
.h-bar{
  background-color: #ea6563;
}
.i-holder{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  height:450px;
  width:100%;
}
.i-left{
  width:288px;
  color:#231815;
  margin-right: 76px;
}

.i-left-item{
  position:relative;
  height: 94px;
  margin-bottom: 39px;
}
#i-no-p{
  margin-top: -24px;
  margin-bottom: 0px;
  height: 38px;
}
.i-left h5{
  opacity: 0.8;
  font-size: 14px;
  font-family: "黑体";
  color:#231815;
}
.i-left p{
  opacity: 0.6;
  font-size: 12px;
  line-height: 20px;
  margin-top: 20px;
  font-family: "宋体";
}
.i-more{
  display: block;
  position: absolute;
  height: 8px;
  bottom: 0;
  right:0;
  opacity: 0.6;
  font-family: "宋体";
  font-size: 12px;
  line-height: 8px;
}
.i-more:hover{
  opacity: 1;
}
.more-arrow{
  vertical-align: bottom;
  display: inline-block;
  width:18px;
  height: 5px;
  background-position: center left;
  background-image:url(i-arrow.png);
  background-repeat: no-repeat;
}
.i-form{
  position: relative;
  width: 640px;
  height: 285px;
}
.i-form input,.i-form textarea{
  border:0;
  background-color: #ebebed;
  font-family: "宋体";
  font-size: 14px;
  color:#231815;
}
.i-form input[type="text"]{
width:294px;
height:40px;
line-height: 40px;
padding:0 0 0 16px;
}

.i-form textarea{
  position: absolute;
  top:108px;
  left:0;
  width:624px;
  height:110px;
  padding:10px 0 0 16px;
}
.i-form textarea:focus,.i-form input[type="text"]:focus{
  outline:#e74f4d solid 2px;
  background-color: #fae6e6;
}
.i-form input[type="button"]{
  position: absolute;
  top:242px;
  left:0;
  width:640px;
  height:40px;
  line-height: 40px;
  font-size: 14px;
  color:#323333;
  font-family: "黑体";
  cursor: pointer;
  transition: background-color 0.2s linear;

}
.i-form input[type="button"]:hover{
  background-color: #e74f4d;
  color:#fff;
}
.i-form input::-webkit-input-placeholder {
color: #6b6767;
font-size: 12px;
}
.i-form input:-moz-placeholder {
color: #6b6767;
font-size: 12px;
}
.i-form input::-moz-placeholder {
color: #6b6767;
font-size: 12px;
}
.i-form input:-ms-input-placeholder {
color: #6b6767;
font-size: 12px;
}
.i-form textarea::-webkit-input-placeholder {
color: #6b6767;
font-size: 12px;
}
.i-form textarea:-moz-placeholder {
color: #6b6767;
font-size: 12px;
}
.i-form textarea::-moz-placeholder {
color: #6b6767;
font-size: 12px;
}
.i-form textarea:-ms-input-placeholder {
color: #6b6767;
font-size: 12px;
}
#i-name{
  position: absolute;
  top:0;
  left:0;
}
#i-age{
  position: absolute;
  top:0;
  right:0;
}
#i-contact{
  position: absolute;
  top:54px;
  left:0;
}
#i-address{
  position: absolute;
  top:54px;
  right:0;
}
.j-holder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:361px;
  width:100%;
  background-color: #31353d;
}
.j-holder h3,.j-holder p{
  color:#fff;
}
.j-holder h3{
  font-family: "黑体";
  font-size: 21px;
}
.j-holder p{
  text-align: center;
  width:33%;
  font-family: "宋体";
  font-size: 12px;
  line-height: 18px;
  margin-top:8px;
}

.email-contact{
  width:512px;
  margin-top: 27px;
  margin-bottom: 36px;
}
.j-holder input[type="text"]{
  vertical-align: middle;
  width:421px;
  height: 40px;
  padding-left:9px;
  border:1px solid #6e7077;
  color: #323333;
  font-size: 14px;
}
.j-holder input[type="text"]::-webkit-input-placeholder {
color: #aaa;
}
.j-holder input[type="text"]:-moz-placeholder {
color: #aaa;
}
.j-holder input[type="text"]::-moz-placeholder {
color: #aaa;
}
.j-holder input[type="text"]:-ms-input-placeholder {
color: #aaa;
}
.j-holder input[type="button"]{
  vertical-align: middle;
  width:80px;
  height: 43px;
  border:0;
  background-color: #6e7077;
  font-size: 15px;
  color:#fff;
  cursor:pointer;
}

.j-holder input[type="button"]:hover{
  background-color: #7d7e85;
}
.j-holder input[type="button"]:active{
  background-color: #5e6066;
}
.other-contact{
  margin-bottom: -10px;
  text-align: center;
}
.other-contact a{
  display: inline-block;
  width:36px;
  margin: 0 10px;
  overflow: hidden;
}
.other-contact span{
  display: inline-block;
  width:36px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: bottom center;
}
.qq{
  background-image: url(j-1.png);
}
.wb{
  background-image: url(j-2.png);
}
.tw{
  background-image: url(j-3.png);
}
.web{
  background-image: url(j-4.png);
}
footer{
  width:100%;
  height: 12px;
  padding:28px 0 18px 0;
  background-color: #2f2f38;
  overflow: hidden;
  position: relative;
  color:#fff;
  font-family: "宋体";
  font-size: 12px;
  line-height: 12px;
}
footer span{
  margin-left: 100px;
}
footer a{
  display: block;
  position: absolute;
  right:40px;
  top:28px;
}
